*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin-left: 20px;
    margin-top: 10px;
}

main{
    margin: 0 auto;
    width: 80%;
}

h1{
    font-size: 50px
}

p {
   font-family: 'Times New Roman', Times, serif;
   font-size: 25px;
   margin: 15px;
   padding-top: 5px;
}

div, p { display: inline; 
    
}


.first-button {
    background-size: 80px;
    background-color: rgb(0, 170, 255);
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5%;
}

.second-button {
    background-size: 80px;
    width: 120px;
    height: 30px;
    border-radius: 5%;
}


#greencircle {

    text-align: center;
    background: rgba(14, 203, 11, 0.41);
    border: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

section {
    padding-top: 20px;
}



    #green-circle {

        text-align: center;
        background: rgba(14, 203, 11, 0.41);
        border: 3px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    #red-circle {

        text-align: center;
        background: rgba(203, 11, 11, 0.428);
        border: 3px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    }

    .box-blue {
        color: white;
        background-color: rgb(0, 136, 255);
        width: 200px;
        height: 100px;
        padding: 10px;
        border: none;
        border-radius: 30px;
    }

    .goals {
        color: white;
        background-color: rgb(255, 0, 230);
        width: 200px;
        height: 100px;
        padding: 10px;
        border: none;
        border-radius: 30px;
    }

    .recruiting {
        color: white;
        background-color: rgb(4, 255, 0);
        width: 200px;
        height: 100px;
        padding: 10px;
        border: none;
        border-radius: 30px;
    }

    .mobile {
        color: white;
        background-color: rgb(255, 157, 0);
        width: 200px;
        height: 100px;
        padding: 10px;
        border: none;
        border-radius: 30px;
    }

    .website {
        color: white;
        background-color: rgb(140, 83, 125);
        width: 200px;
        height: 100px;
        padding: 10px;
        border: none;
        border-radius: 30px;
    }

    .sales {
        color: white;
        background-color: rgb(83, 140, 95);
        width: 200px;
        height: 100px;
        padding: 10px;
        border: none;
        border-radius: 30px;
    }